#socialshare-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#socialshare-wrapper .socialshare-icon {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 40px;
  margin: 0;
  padding: 8px;
  list-style: none;
}
